input[type="checkbox"] {
    width: 1rem;
    height: 1.1rem;
    border-radius: 50%;
    border: 1px solid #000;
    appearance: none;
    outline: none;
    cursor: pointer;
  }
  input[type="checkbox"]:checked {
    background-color: #8863FB;
  }
  


    